@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Theming
@using Bdziam.UI.Theming.Model
@using Blazicons
@inherits LayoutComponentBase

<BThemeProvider @bind-IsDarkMode="IsDarkMode" @ref="ThemeProvider" />

<BCanonicalLayout LayoutColor="ColorVariant.Primary" Elevation="3">
    <LeftTopBarContent>
        <BText Typo="Typo.H3" Style="line-height: 2.5rem; margin-bottom: 4px;">Bdziam.UI</BText>
    </LeftTopBarContent>
    <RightTopBarContent>
        <BThemeManager StyleChanged="StyleChanged" SeedColorChanged="ColorChanged"></BThemeManager>
        <BToggleIconButton CheckedIcon="BootstrapIcon.Moon" Variant="ButtonVariant.Text" UncheckedIcon="BootstrapIcon.Sun" Size="Size.Small" @bind-Checked="IsDarkMode"></BToggleIconButton>
    </RightTopBarContent>
    <Body>
    @Body
    </Body>
</BCanonicalLayout>