@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div id="@Id" class="@PillRippleClasses" style="@PillRippleStyle">

</div>
@if (Hover)
{
<div class="pill-ripple-hover" style="@(($"background-color: {ColorUtility.GetColorVariable(MaterialColor.OnSurfaceVariant)};")+Style)">

</div>
}
