@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div class="@PillRippleClasses" style="background-color: var(--color-secondary-surface-2)">

</div> 
<div class="pill-ripple-hover" style="background-color: var(--color-secondary-hover)">

</div>