@using Bdziam.UI.Model.Utility
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase

<div id="@Id" style="padding-left: @SizeUtility.GetPadding(Padding); padding-right: @SizeUtility.GetPadding(Padding); background-color: var(--md-sys-color-background)">
    @ChildContent
</div>