@using Bdziam.UI.Model.Utility
@namespace Bdziam.UI
<div style="padding-left: @SizeUtility.GetPadding(Padding); padding-right: @SizeUtility.GetPadding(Padding); background-color: var(--color-background)">
    @ChildContent
</div>