@using Bdziam.UI.Model.Enums
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<main id="@Id" class="transition-all ease-in-out">
    <BDrawer 
             Elevation="@Elevation"
             IsOpen="@IsDrawerOpen"
             Position="DrawerPosition.Left"
             Color="ColorVariant.SurfaceContainerHighest"
             Width="300">
        <ChildContent>
            <BDrawerMenu>
                <BDrawerMenuComposer></BDrawerMenuComposer>
            </BDrawerMenu>
        </ChildContent>
        <MainContent>
            <BTopBar TopBarMaskBorderRadius="BorderRadius.Large" Style="margin-left: -2px" Color="ColorVariant.SurfaceContainerHighest" Elevation="@Elevation" Size="Size.Large">
                <LeftContent>
                    <BToggleIconButton Style="margin-left: -0.75rem" CheckedIcon="GoogleMaterialFilledIcon.Menu" Color="ColorVariant.SurfaceContainerHighest" HorizontalPadding="Size.None" Variant="ButtonVariant.Text" UncheckedIcon="GoogleMaterialFilledIcon.Menu" CheckedChanged="ToggleDrawer" Checked="IsDrawerOpen"></BToggleIconButton>
                    @LeftTopBarContent
                </LeftContent>
                <MiddleContent>
                    @MiddleTopBarContent
                </MiddleContent>
                <RightContent>
                    @RightTopBarContent
                </RightContent>
            </BTopBar>
            <BBody Padding="Size.Medium">
                @Body
            </BBody>
        </MainContent>
    </BDrawer>
</main>