@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Libre Franklin';
        src: url(/font/LibreFranklin.ttf) format('ttf');
    }

    html {
        margin: 0;
        font-family: 'Libre Franklin', system-ui, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: var(--color-primary-text)
    }

    .ripple-container {
        position: relative;
        overflow: hidden; /* Prevent ripple from going outside */
    }

    .ripple-container .ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple-animation 0.6s linear;
        background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
    }

    @keyframes ripple-animation {
        to {
            transform: scale(4); /* Adjust scale for larger ripple */
            opacity: 0;
        }
    }

    .pill-ripple-container {
        position: relative;
        overflow: hidden;
        border-radius: 9999px;
    }

    .pill-ripple {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }


    button {
        position: relative;
        overflow: hidden;
    }

    .ripple-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    .ripple {
        position: absolute;
        background: rgba(255, 255, 255, 0.5); /* Adjust for theme */
        border-radius: 50%;
        transform: scale(0);
        animation: ripple-animation 600ms ease-out;
    }

    @keyframes ripple-animation {
        to {
            transform: scale(4);
            opacity: 0;
        }
    }

    .menu-item {
        transition: background-color 0.2s ease;
    }

    .menu-item:hover {
        background-color: var(--color-neutral);
    }

    .menu-children {
        padding-left: 1rem;
    }

    .arrow-icon {
        margin-left: auto;
        transition: transform 0.2s ease;
    }

}
