@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@inherits Bdziam.UI.Components.CommonBase.BComponentBase

<div id="@Id" style="@AppliedStyle">
    <BContainer BorderRadius="BorderRadius.Medium" SurfaceMaterialColor="MaterialColor.Surface" Style="width: 100%; height: 95vh"  Padding="Padding">
        @ChildContent
    </BContainer>
</div>