@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div class="w-full my-2 @Class" style="height: 1px; background-color: var(--color-surface-3)@(Style != null ? $";{Style}" : string.Empty)"></div>
