@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@inherits BDrawerMenuBase

<div id="@Id" class="flex flex-col w-full @Class" style="@Style">
    <BStack Orientation="Orientation.Vertical" Spacing="Size.Medium">
        @ChildContent
    </BStack>
</div>1