@using Bdziam.UI.Model.Enums
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div class="flex flex-col w-full @Class" style="@Style">
    <BStack Orientation="Orientation.Vertical" Spacing="Size.Small">
    @ChildContent
    </BStack>
</div>
