@namespace Bdziam.UI
@inherits BDrawerMenuItemBase
<div id="@Id" class="w-full my-2 @Class" style="height: 1px; background-color: var(--color-surface-3)@(Style != null ? $";{Style}" : string.Empty)"></div>
