@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@inherits BDrawerMenuItemBase
<div id="@Id" class="w-full my-2 @Class" style="height: 1px; background-color: var(--md-sys-color-surface)@(Style != null ? $";{Style}" : string.Empty)"></div>
