@namespace Bdziam.UI
<div style="display: flex; flex-direction: column; gap: 1rem; align-items: center;">
    <BProgress Variant="ProgressIndicatorVariant.Circular" Indeterminate="true" />
    <BProgress Variant="ProgressIndicatorVariant.Linear" Progress="0.5" />
</div>