@namespace Bdziam.UI
<div class="flex items-center justify-between p-4" style="background-color: var(--color-surface); color: var(--color-primary-text);">
    <span>@Text</span>
    @if (Icon != null)
    {
    <Blazicon Svg="@(Icon.WithColor($"var(--color-primary-text)"))" Width="24px" Height="24px" />
    }
</div>
