@using Bdziam.UI.Model.Enums
@namespace Bdziam.UI
<div class="flex flex-col w-full" style="background-color: var(--color-surface);">
    <BStack Orientation="Orientation.Vertical" Spacing="Size.Small">
    @ChildContent
    </BStack>
</div>
