@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Theming
@using Bdziam.UI.Theming.Model
@using Blazicons
@inherits LayoutComponentBase

<BThemeProvider @bind-IsDarkMode="IsDarkMode" @ref="ThemeProvider" TintSurfaces="false"/>

<BCanonicalLayout Elevation="0" >
    <LeftTopBarContent>
    </LeftTopBarContent>
    <MiddleTopBarContent>
        <BText Color="MaterialColor.SurfaceContainer" Typo="Typo.HeadlineMedium" Style="line-height: 2.5rem; margin-bottom: 4px;"></BText>
    </MiddleTopBarContent>
    <RightTopBarContent>
        <BThemeManager StyleChanged="StyleChanged" SeedColorChanged="ColorChanged"></BThemeManager>
        <BToggleIconButton CheckedIcon="GoogleMaterialFilledIcon.DarkMode" Variant="ButtonVariant.Text" UncheckedIcon="GoogleMaterialFilledIcon.LightMode" Color="MaterialColor.SurfaceContainer" IconSize="Size.Small" @bind-Checked="IsDarkMode"></BToggleIconButton>
    </RightTopBarContent>
    <DrawerMenuContent>
        <BDrawerMenuComposer ></BDrawerMenuComposer>
        @* <BDrawerMenuItem Uri="/" Text="Home" Icon="GoogleMaterialFilledIcon.Home"></BDrawerMenuItem>
        <BDrawerMenuItem Text="Getting Started" Icon="GoogleMaterialFilledIcon.BedroomBaby"/>
        <BDrawerMenuItem Text="Theming" Icon="GoogleMaterialFilledIcon.Palette">
            <BDrawerMenuItem Text="Palettes and Colors" Icon="GoogleMaterialFilledIcon.FormatColorFill" Uri="/PalettesAndColors"/>
            <BDrawerMenuItem Text="BTheme Provider" Icon="GoogleMaterialFilledIcon.SatelliteAlt"/>
            <BDrawerMenuItem Text="Theme Manager" Icon="MdiIcon.ThemeLightDark"/>
        </BDrawerMenuItem>

        <BDrawerMenuItem Text="Components" Icon="GoogleMaterialFilledIcon.Code">
            <BDrawerMenuItem Text="Inputs" Icon="GoogleMaterialFilledIcon.Input">
                <BDrawerMenuItem Text="Buttons" Uri="/Buttons" Icon="GoogleMaterialFilledIcon.SmartButton"></BDrawerMenuItem>
            </BDrawerMenuItem>
            <BDrawerMenuItem Text="Layout" Icon="GoogleMaterialFilledIcon.Layers">
                <BDrawerMenuItem Text="Stack" Uri="/Stack" Icon="GoogleMaterialFilledIcon.SmartButton"></BDrawerMenuItem>
                <BDrawerMenuItem Text="Uniform Grid" Uri="/UniformGrid" Icon="GoogleMaterialFilledIcon.GridView"></BDrawerMenuItem>
                <BDrawerMenuItem Text="Masonry Grid" Uri="/MasonryGrid" Icon="MdiIcon.DotsGrid"></BDrawerMenuItem>

            </BDrawerMenuItem>
            <BDrawerMenuItem Text="Navigation" Icon="GoogleMaterialFilledIcon.Navigation">
                <BDrawerMenuItem Text="Tabs" Uri="/Tabs" Icon="MdiIcon.DotsGrid"></BDrawerMenuItem>
            </BDrawerMenuItem>
            <BDrawerMenuItem Text="Popover" Uri="/Popover" Icon="GoogleMaterialFilledIcon.Rectangle"></BDrawerMenuItem>
            <BDrawerMenuItem Text="Tooltip" Uri="/Tooltip" Icon="GoogleMaterialFilledIcon.Info"></BDrawerMenuItem>
        </BDrawerMenuItem>*@
    </DrawerMenuContent>
    <Body>
    @Body
    </Body>
</BCanonicalLayout>