@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Theming
@using Bdziam.UI.Theming.Model
@using Blazicons
@inherits LayoutComponentBase

<BThemeProvider @bind-IsDarkMode="IsDarkMode" @ref="ThemeProvider" />

<BCanonicalLayout Elevation="1">
    <LeftTopBarContent>
    </LeftTopBarContent>
    <MiddleTopBarContent>
        <BText Typo="Typo.H3" Style="line-height: 2.5rem; margin-bottom: 4px;">Bdziam.UI</BText>
    </MiddleTopBarContent>
    <RightTopBarContent>
        <BThemeManager StyleChanged="StyleChanged" SeedColorChanged="ColorChanged"></BThemeManager>
        <BToggleIconButton CheckedIcon="GoogleMaterialFilledIcon.DarkMode" Variant="ButtonVariant.Text" UncheckedIcon="GoogleMaterialFilledIcon.LightMode" IconSize="Size.Small" @bind-Checked="IsDarkMode"></BToggleIconButton>
    </RightTopBarContent>
    <DrawerMenuContent>
        <BDrawerMenuItem Uri="/" Text="Home" Icon="GoogleMaterialFilledIcon.Home"></BDrawerMenuItem>
        <BDrawerMenuItem Text="Components" Icon="GoogleMaterialFilledIcon.Code">
            <BDrawerMenuItem Text="Inputs" Icon="GoogleMaterialFilledIcon.Input">
                <BDrawerMenuItem Text="Buttons" Uri="/Buttons" Icon="GoogleMaterialFilledIcon.SmartButton"></BDrawerMenuItem>
            </BDrawerMenuItem>
            <BDrawerMenuItem Text="Layout" Icon="GoogleMaterialFilledIcon.Layers">
                <BDrawerMenuItem Text="Stack" Uri="/Stack" Icon="GoogleMaterialFilledIcon.SmartButton"></BDrawerMenuItem>
                <BDrawerMenuItem Text="Uniform Grid" Uri="/UniformGrid" Icon="GoogleMaterialFilledIcon.GridView"></BDrawerMenuItem>
                <BDrawerMenuItem Text="Masonry Grid" Uri="/MasonryGrid" Icon="MdiIcon.DotsGrid"></BDrawerMenuItem>

            </BDrawerMenuItem>
            <BDrawerMenuItem Text="Popover" Uri="/Popover" Icon="GoogleMaterialFilledIcon.Rectangle"></BDrawerMenuItem>
            <BDrawerMenuItem Text="Tooltip" Uri="/Tooltip" Icon="GoogleMaterialFilledIcon.Info"></BDrawerMenuItem>
        </BDrawerMenuItem>
    </DrawerMenuContent>
    <Body>
    @Body
    </Body>
</BCanonicalLayout>